.sidebar {
  width: 4rem; /* Initially collapsed */
  position: fixed;
  left: 0;
  top: 4rem; /* Add space for navbar */
  height: 100%;
  background-color: #333;
  color: white;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 16rem; /* Expanded width on hover */
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 8px 0;
}

.sidebar a:hover {
  background-color: #ffbe59;
  padding-left: 10px;
}
