/* pages/HomePage.css */
.home-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #ffbe59;
  padding-top: 50px;
}

.home-container p {
  font-size: 1.2rem;
  color: #5be0e6;
}

.training-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}