.home-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.home-container .logo {
  width: 250px; 
  height: auto;
  max-width: 100%; 
  margin-bottom: 10px;
}

.profile-section {
  margin-top: 30px; 
}

.profile-picture-placeholder {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px; 
}

.profile-section p {
  margin-bottom: 20px; 
}

.training-log-button {
  background-color: #ffbe59;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.training-log-button:hover {
  background-color: #f927ac;
}
